body {
  background-color: rgb(117, 218, 218);
  font-style: italic;
  text-align: center;
  font-family: "Trirong", serif;
}
.main-header {
  color: rgb(2, 0, 0);
  font-size: 90px;
  margin-bottom: 80px;
  text-align: center;
  background-color: yellow;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}
div {
  background-color: yellow;
  margin-left: 400px;
  margin-right: 400px;
  border: black;
  border-style: solid;
  margin-bottom: 200px;
}
